.App {
  text-align: center;
}
.navbarItems {
  color: white;
}
.navbarItemOne {
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.header-section {
  display: flex;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  background: black;
  
   &:last-of-type:after {
    display: none;
  }
}

.header-section:after {
  content: "";
  width: 2px;
  height: 200%;
  background-color: #38ef7d;
  display: block;
  transform: translateY(-30px) rotate(135deg);
}

.header-section p {
  padding: 12px 36px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .diagonalLineOne {
  width: 112px;
        height: 55px;
        border-bottom: 5px solid #38ef7d;
        -webkit-transform:
            translateY(-15px)
            translateX(5px)
            rotate(27deg); 
        position: absolute;
} */